h2 {
  color: pink;
}
.btn1 {
  border: thin;
  font-size: large;
  text-align: center;
}

body {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
}

.app-body {
  background-color: #e6e6fa;
  border-radius: 10px;
}

#date-and-time {
  padding-left: 35px;
  padding-bottom: 100px;
  margin: -40px;
  font-size: 25px;
}
.card-text {
  font-size: large;
  word-spacing: 10px;
}

.card-title1 {
  font-size: 35px;
}
.card-body1 {
  font-size: medium;
  text-align: center;
}

.update {
  font-size: x-small;
}

.card-group {
  word-spacing: 5px;
  border: 0;
  text-align: center;
}

#weather-forecast {
  text-align: center;
}

#footer {
  text-align: center;
  padding: 10px;
}
